<!DOCTYPE html>
<html lang="pl">
<head>
    <title>Fromularz rejestracji - PED</title>
    <meta charset="utf-8">
    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">
    <script src="scripts/registration.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body class="registration_body">
<nav>
    <div class="logo">
        <img class="logo_image" src="images/logo.png" alt="logo">
        <h4 class="logo_title">Paczuch Express Delivery</h4>
    </div>
    <ul>
        <li><a href="/">Strona główna</a></li>
        {% if isValidCookie %}
        <li><a href="/add_waybill">Nadaj paczkę</a></li>
        <li><a href="/show_waybills">Historia</a></li>
        <li><a href="/contact">Kontakt</a></li>
        <li><a href="/logout">Wyloguj się</a></li>
        {% else %}
        <li><a href="/register">Zarejestuj się</a></li>
        <li><a href="/login">Zaloguj</a></li>
        <li><a href="/contact">Kontakt</a></li>
        {% endif %}
    </ul>
</nav>
{% if isValidCookie %}
<section>
    <h2>Jesteś już zalogowany :) Aby zarejstrować nowego użytkownika, najpierw <a href="/logout">Wyloguj się</a></h2>
</section>
{% else %}
<section>

    <h2>Zarejestruj się</h2>

    <form id="registration-form" class="registration-form">

        <div class="form-row">
            <label for="name" class="required">Imię</label><br>
            <input id="name" type="text" name="name" class="input-field" placeholder="Jan"/>
        </div>

        <div class="form-row">
            <label for="surname" class="required">Nazwisko</label><br>
            <input id="surname" type="text" name="surname" class="input-field" placeholder="Kowalski"/>
        </div>

        <div class="form-row">
            <label for="birthDate" class="required">Data urodzenia</label><br>
            <input id="birthDate" type="date" name="birthDate" class="input-field"/>
        </div>
        
        <div class="form-row">
            <label for="adress" class="required">Adres zamieszkania</label><br>
            <input id="street" type="text" name="street" class="input-field" placeholder="Ulica"/><br>
            <input id="adressNumber" type="text" name="adressNumber" class="input-field" placeholder="Nr mieszkania"/><br>
            <input id="postalCode" type="text" name="postalCode" class="input-field" placeholder="Kod pocztowy"/><br>
            <input id="country" type="text" name="country" class="input-field" placeholder="Kraj"/>
        </div>


        <div class="form-row">
            <label for="login" class="required">Login</label><br>
            <input id="login" type="text" name="login" class="input-field" placeholder="Pawel"/>
        </div>

        <div class="form-row">
            <label for="pesel" class="required">PESEL</label><br>
            <input id="pesel" type="text" name="pesel" class="input-field" placeholder="97101492672"/>
        </div>

        <div class="form-row">
            <label for="password" class="required">Hasło</label><br>
            <input id="password" type="password" name="password" class="input-field" placeholder="Hasło"/>
        </div>

        <div class="form-row">
            <label for="second_password" class="required">Powtórz hasło</label><br>
            <input id="second_password" type="password" name="second_password" class="input-field" placeholder="Powrórz hasło"/>
        </div>

        <div class="form-row">
            <input id="button-reg-form" type="submit" value="Rejestruj"/>
        </div>

    </form>

</section>
{% endif %}
<footer>
    <p class="footer-inline left">&copy; 2020 Krzysztof Anderson</p>
    <p class="footer-inline right">proudly powered by <img src="images/notepad25.jpg" alt="notepad icon"/></p>
</footer>
</body>
</html>